body {
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  margin: 0;
  padding: 0;
  background-color: rgb(243, 243, 243);
}

* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  margin: 40px auto 0;
  height: 100%;
}

.navbar-brand {
  font-size: 24px;
}

p {
  color: #333;
  font-weight: 300; 
}

h1, h2, h3, h4 {
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; 
}

h2 {
  font-size: 28px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 50px;
  color: #333;
}

a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; 
}

a, a:hover {
  text-decoration: none; 
}

.active a {
  font-weight: bold;
  color: #000;
}

.content {
  padding: 7rem 0; 
}

button.btn {
  width: 100%;
  margin-bottom: 20px;
  background-color: #3a5e91;
  border: none;
  color: #fff;
  height: 50px;
}

button.btn:hover,
button.btn:active,
button.btn:focus {
  background-color: #3a5883;
  border: none;
  color: #fff;
}

.page-not-found button {
  width: unset;
}

.books-container,
.customers-container,
.invoices-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.book-content,
.customer-content {
  border: 1px solid #e1e1e1;
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
  background-color: #fff;
}

.invoice-content {
  border: 1px solid #e1e1e1;
  background-color: #fff;
  padding: 20px;
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}

.book .book-content {
  border: none;
}

.book-text {
  padding: 20px;
  width: 100%;
}

.book .book-text {
  padding: 0 20px;
}

.book-text .book-id,
.customer-text .customer-id,
.invoice-text .invoice-id {
  display: none;
}

.book-text .book-title {
  text-transform: capitalize;
  color: #333;
  font-weight: bold;
  margin-bottom: 0;
  font-size: 20px;  
}

.book-text .book-writer {
  font-style: italic;
  border-bottom: 1px solid #e1e1e1;
}

.book-text .book-publish-date,
.book-text .book-stock {
  font-size: 14px;
  margin-bottom: 0;
}

.book .book-text .book-stock {
  margin-bottom: 25px;
}

.book-text .book-publish-date span,
.book-text .book-stock span {
  font-weight: bold;
}

.book-text .book-image {
  width: 145px;
  height: 225px;
  margin-right: 20px;
}

.book-text .book-image img {
  width: 145px;
  height: 225px;
  object-fit: cover;
}

.book-text .book-price {
  color: #ff0072;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 2px;
}

.book {
  background-color: #fff;
  padding: 100px 40px;
}

.book .book-container {
  display: flex;
}

.book .book-container .book-image img {
  width: 200px;
  margin-right: 25px;
}

.book-text .book-description {
  display: flex;
  flex-direction: column;
}

.book-text .book-description span {
  font-weight: bold;
  font-size: 18px;
}

.customer-content .customer-image {
  width: 128px;
  height: 128px;
  margin-right: 40px;
  padding: 20px;
}

.customer-text {
  width: 100%;
  padding: 20px;
  border-left: 1px solid #e1e1e1;
}

.customer-text .customer-image img {
  width: 128px;
  height: 128px;
  object-fit: cover;
}

.customer-text p {
  display: flex;
  flex-direction: column;
}

.customer-text p span {
  color: #333e4e;
  font-size: 14px;
}

.invoice-text span {
  font-weight: bold;
}

/* ------------------------ CALENDAR ------------------------- */

.container.calendar {
  max-width: 100%;
}

#calendar {
  max-width: 900px;
  margin: 0 auto; 
}

#calendar .fc-view-container {
  padding: 30px;
  background-color: #fff;
  -webkit-box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.2); 
}

#calendar .fc-button-primary {
  color: #fff;
  background-color: #333e4e;
  border-color: #333e4e;
}

#calendar .fc-event {
  color: #fff;
  background-color: #333e4e;
  border-color: #333e4e;
}

#calendar .event-container {
  position: relative;
}

#calendar .event-container .event-content {
  background-color: #333e4e;
  border-color: #333e4e;
  border-radius: 0.25em;
  padding: 6px;
  line-height: initial;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#calendar .event-container .event-content p {
  color: #fff;
  margin: 0;
}

#calendar .event-container .modal-container {
  display: none;
}

#calendar .event-container.show .modal-container {
  background-color: rgba(0,0,0,0.3);
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
}

#calendar .event-container.show .modal-container .modal-content {
  background-color: #fff;
  width: 300px;
  max-width: 100%;
  margin: 0 auto;
  padding: 40px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#calendar .event-container.show .modal-container button {
  background-color: #333e4e;
  color: #fff;
  border-radius: 5px;
  border: none;
  height: 50px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

#calendar .event-container.show .modal-container p {
  color: #000;
}

#calendar .event-container.show .modal-container p.event-title {
  font-size: 28px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: initial;
  color: #cd2929;
}

#calendar .event-container.show .modal-container p.event-date {
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
}

#calendar .event-container.show .modal-container p.event-address {
  font-size: 16px;
  font-weight: bold;
}

#calendar .fc-day-grid .fc-row {
  overflow: hidden;
}

#calendar .fc-day-grid.show .fc-row {
  z-index: unset;
}

#calendar a {
  color: #000;
}

.fc-row .fc-content-skeleton.modifyLayer {
  z-index: unset;
}

.fc-row .fc-content-skeleton.modifyLayer .fc-today span.fc-day-number {
  z-index: 1;
  position: relative;
}

.fc .fc-daygrid-day.fc-day-today {
  background-color: #40e0d0 !important;
}

