<main class="container">      
  <button type="button" class="btn btn-primary" id="test">Test</button>
  <p id="test-number"></p>

  <h2>Create New Entity</h2>
  <div class="accordion">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne">
          Book
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse">
        <div class="accordion-body">
          <form id="add-book-form">
            <input type="text" class="form-control mb-3" id="title" placeholder="Title" #bookTitle>
            <input type="text" class="form-control mb-3" id="writer" placeholder="Writer" #bookWriter>
            <input type="text" class="form-control mb-3" id="publish_date" placeholder="Publish Date" #bookDate>
            <button type="submit" class="btn" (click)="addBook($event)">Add Book</button>
          </form>
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo">
          Customer
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse">
        <div class="accordion-body">
          <form id="add-customer-form">
            <input type="text" class="form-control mb-3" id="first_name" placeholder="First Name">
            <input type="text" class="form-control mb-3" id="last_name" placeholder="Last Name">
            <input type="email" class="form-control mb-3" id="email" placeholder="Email">
            <input type="tel" class="form-control mb-3" id="phone" placeholder="Phone">
            <input type="text" class="form-control mb-3" id="address" placeholder="Address">
            <input type="text" class="form-control mb-3" id="postal_code" placeholder="Postal Code">
            <input type="text" class="form-control mb-3" id="city" placeholder="City">
            <button type="submit" class="btn">Add Customer</button>
          </form>
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree">
          Invoice
        </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse">
        <div class="accordion-body">
          <form id="add-invoice-form">
            <input type="text" class="form-control mb-3" id="customer_id" placeholder="Customer ID">
            <input type="text" class="form-control mb-3" id="invoice_number" placeholder="Invoice Number">
            <input type="date" class="form-control mb-3" id="date" placeholder="Date">
            <input type="number" class="form-control mb-3 d-inline w-50" id="total_price" placeholder="Total Price"> USD
            <input type="number" class="form-control mb-3" id="items" placeholder="Items">
            <button type="submit" class="btn">Add Invoice</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="dropdown entries-dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
      List all the entities
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <li><a class="dropdown-item" href="#" id="none" (click)="setEntity($event)">None</a></li>
      <li><a class="dropdown-item" href="#" id="books" (click)="setEntity($event)">Books</a></li>
      <li><a class="dropdown-item" href="#" id="customers" (click)="setEntity($event)">Customers</a></li>
      <li><a class="dropdown-item" href="#" id="invoices" (click)="setEntity($event)">Invoices</a></li>
    </ul>
  </div>
  <div id="entries-container">
    <app-books *ngIf="entity === 'books'"></app-books>
    <app-customers *ngIf="entity === 'customers'"></app-customers>
    <app-invoices *ngIf="entity === 'invoices'"></app-invoices>
  </div>
</main>
