<div class="entity-content" *ngFor="let customer of customers; let i = index">
  <h2>Customer {{ i + 1 }}</h2>
  <ul>
    <li class="entityID"><i class="fas fa-edit"></i><b> ID:</b> <span #customerId>{{ customer._id}}</span></li>
    <li><i class="fas fa-edit"></i><b> Firstname:</b> <span id="entity-title">{{ customer.first_name }}</span></li>
    <li><i class="fas fa-edit"></i><b> Lastname:</b> <span id="entity-writer">{{ customer.last_name }}</span></li>
    <li><i class="fas fa-edit"></i><b> Email:</b> <span id="entity-publish_date">{{ customer.email }}</span></li>
    <li><i class="fas fa-edit"></i><b> Phone:</b> <span id="entity-publish_date">{{ customer.phone }}</span></li>
    <li><i class="fas fa-edit"></i><b> Address:</b> <span id="entity-publish_date">{{ customer.address }}</span></li>
    <li><i class="fas fa-edit"></i><b> Postal Code:</b> <span id="entity-publish_date">{{ customer.postal_code }}</span></li>
    <li><i class="fas fa-edit"></i><b> City:</b> <span id="entity-publish_date">{{ customer.city }}</span></li>
  </ul>
  <div class="buttons">
    <button id="delete-btn" (click)="deleteCustomer(customerId)">Delete</button>
  </div>
</div>
